
@import "compass/layout/sticky-footer"
@include sticky-footer(36px, "#root", "#root-footer", "#footer")

.breadcrumb .logo
    margin-right: 1ex

.media
    margin-bottom: 15px

.nav-tabs
    margin-bottom: 15px

#footer
    margin-top: 30px

.panel-heading
    h1, h2, h3, h4, h5, h6
        margin: 0


.has-error label
    color: #b94a48

label
    .optional, .required, .error
        font-size: 0.85em

    .optional, .required
        font-size: 0.85em
        &:before
            content: '['
        &:after
            content: ']'
