%%namespace(name='utils', file='/_utils.haml')

@media(account, link=True, avatar_size=64)

    .media.git-account

        - url = url_for('account', account=account)
        
        %a.pull-left(href=url)
            - if account.email:
                +utils.gravatar(account.email, size=avatar_size, robohash=not account.is_group, class_='thumbnail media-object')
            - else:
                %img.thumbnail.media-object(src=resized_img_src('/img/git-logo-pale.png', width=avatar_size, height=avatar_size), width=avatar_size, height=avatar_size)

        .media-body
            %h4.media-heading
                
                @title
                    - if account.is_group:
                        %span.glyphicon.glyphicon-globe
                    - else:
                        %span.glyphicon.glyphicon-user
                    = account.name
                    - if not account.is_public:
                        %span.glyphicon.glyphicon-lock

                - if link: %a(href=url) = title()
                - else: = title()
            - if account.description: %p = markdown(account.description)
            - if account.members:
                %small
                    %span.glyphicon.glyphicon-user
                    ${len(account.members)} member${'s' if len(account.members) != 1 else ''}

            = caller.body()


@page_tabs(account, active=None)
    - active = active if active is not None else request.endpoint

    %ul.nav.nav-tabs

        %li(class_='active' if active == 'account' else '')
            %a(href=url_for('account', account=account))
                +utils.icon('book')
                Repositories
        
        - if account.is_group:
            %li(class_='active' if active == 'account_members' else '')
                %a(href=url_for('account_members', account=account))
                    +utils.icon('user')
                    Members
        
        - if auth.can('repo.create', account):
            %li.pull-right(class_='active' if active == 'account_admin' else '')
                %a(href=url_for('account_admin', account=account))
                    +utils.icon('cog')
                    Admin
