%%inherit(file='/_main.haml')
%%namespace(name='repo_utils', file='/repo/_utils.haml')
%%namespace(name='account_utils', file='./_utils.haml')
%%namespace(name='utils', file='/_utils.haml')


@breadcrumb
    %li
        &= account.name




+account_utils.media(account, link=False, avatar_size=200)
+account_utils.page_tabs(account)

- for membership in account.members:
    +account_utils.media(membership.user)

- else:
    %em No members.
