%%inherit(file="/_main.haml")
%%namespace(name='tree_utils', file='/tree/_utils.haml')
%%namespace(name='repo_utils', file='./_utils.haml')
%%namespace(name='commit_utils', file='/commit/_utils.haml')
%%namespace(name='utils', file='/_utils.haml')
-!
    import datetime
    import itertools
    import pygit2 as git
    from gitbase.utils import debug
-
    try:
        head = repo.git.head.get_object()
    except git.GitError:
        head = None


@breadcrumb
    %li
        %a(href=url_for('group', group=repo.group))
            &= repo.group.name
    %li
        &= repo.name




+repo_utils.media(repo, link=False, avatar_size=128)
+repo_utils.page_tabs(repo)


- if auth.can('repo.delete', repo):
    .alert.alert-danger
        %form.git-repo-delete(action=url_for('repo_admin', repo=repo), method='POST', dataRepoName=repo.name)
            %input(type='hidden', name='action', value='repo.delete')
            %input(type='hidden', name='id', value=repo.id)
            %button.pull-right.btn.btn-danger(href='#', dataId=repo.id) Delete Repo
        %strong Delete this repository.
        %br
        This cannot be undone!
