%%inherit(file='/_main.haml')
%%namespace(name='utils', file='/_utils.haml')
%%namespace(name='cpanel_utils', file='./_utils.haml')
%%namespace(name='user_utils', file='/user/_utils.haml')
%%namespace(name='account_utils', file='/account/_utils.haml')

-! from markupsafe import Markup

@breadcrumb
    %li control panel
    %li users

+cpanel_utils.page_tabs

- for user in users:

    -#

        Actions:
        %ul.list-unstyled
            %li %a.btn.btn-xs.btn-primary(href=url_for('login_switch_user', username=user.name)) Switch to User
            %li %a.btn.btn-xs.btn-warning(href='#', dataAction='auth.token.create', dataUserId=user.id) Create Auth Token

            - if not user.home:
                %li %a.btn.btn-xs.btn-success(href="#") Create Home

            %li %a.btn.btn-xs.btn-danger.disabled(href='#') Delete


    - if user.home:
        +account_utils.media(user.home, avatar_size=96)
    - else:
        +user_utils.media(user, avatar_size=96)
