%%inherit(file="/_main.haml")
%%namespace(name='tree_utils', file='/tree/_utils.haml')
%%namespace(name='blob_utils', file='/blob/_utils.haml')
%%namespace(name='repo_utils', file='/repo/_utils.haml')
%%namespace(name='commit_utils', file='./_utils.haml')
%%namespace(name='utils', file='/_utils.haml')
-!
    import datetime
    import itertools
    import pygit2 as git
    from gitbase.utils import debug

    commit_time = lambda c: datetime.datetime.fromtimestamp(c.commit_time)



+repo_utils.media(repo, link=False, avatar_size=128)



@breadcrumb
    %li
        %a(href=url_for('account', account=repo.account))
            &= repo.account.name
    %li
        &= repo.name
    %li
        commits


+repo_utils.page_tabs(repo)




- if head:



    - if prev_commit:
        %a.btn.btn-default(href=url_for('commits', repo=repo) + '?after=' + prev_commit.hex)
            +utils.icon('arrow-left')
            Newer Commits

    %ol#commit-list.list-unstyled - for commit in commits:
        %li
            - url = url_for('commit', repo=repo, commit=commit.hex[:8])
            -# %a.pull-right.btn.btn-default.btn-sm(href=url) = commit.hex[:8]
            %a(href=url)
                %code &= commit.hex[:8]
                - for type_, name in hex_to_refs.get(commit.oid, ()):
                    %span.label.label-primary &= name
                &= commit.message.strip().splitlines()[0]
            %br
            %small +commit_utils.author_info(commit)


    - if next_commit:
        %a.btn.btn-default(href=url_for('commits', repo=repo) + '?after=' + next_commit.hex)
            Older Commits
            +utils.icon('arrow-right')
    - else:
        .alert.alert-warning There are no more commits.



- else:

    .alert.alert-warning There are no commits.