%%inherit(file='/_main.haml')
%%namespace(name='repo_utils', file='/repo/_utils.haml')
%%namespace(name='user_utils', file='/user/_utils.haml')
%%namespace(name='group_utils', file='_utils.haml')
%%namespace(name='utils', file='/_utils.haml')


@breadcrumb
    %li
        &= group.display_name




+group_utils.media(group, link=False, avatar_size=200)


%ul#group-tabs.nav.nav-tabs
    %li.active %a(href='#repos', dataToggle='tab')
        +utils.icon('book')
        Repositories
    %li %a(href='#members', dataToggle='tab')
        +utils.icon('user')
        Members
    
    - if auth.can('repo.create', group):
        %li.pull-right %a(href='#admin', dataToggle='tab')
            +utils.icon('cog')
            Admin

.tab-content

    #repos.tab-pane.active
        - for repo in group.readable_repos:
            = repo_utils.media(repo)
        - if not group.readable_repos:
            .alert.alert-warning No repositories.

    #members.tab-pane

        - if group.memberships:
            - for membership in group.memberships:
                +user_utils.media(membership.user)

        - else:
            %em No members.

    #admin.tab-pane

        - if auth.can('repo.create', group):
            .alert.alert-success
                %a#git-repo-create-button.btn.btn-success.pull-right.disabled(href='#') Create Repository
                %strong Create a New Repository.
                %br
                You can create a new repository in this group.
                
                %form#git-repo-create-form.hide
                    +utils.render_form(new_repo_form)

                -# :javascript
                    $(function() {
                        $('#git-repo-create-button').click(function() {
                            vex.dialog.confirm({
                                message: $('#git-repo-create-form').html()
                            })
                        })
                    })

        - if auth.can('group.delete', group):
            .alert.alert-danger
                %form.git-group-delete(action=url_for('group', group=group), method='POST', dataGroupName=group.name)
                    %input(type='hidden', name='action', value='group.delete')
                    %input(type='hidden', name='id', value=group.id)
                    %button.pull-right.btn.btn-danger Delete Group
                %strong Delete this group.
                %br
                This cannot be undone, and will delete all child repositories!
