%%inherit(file='/_main.haml')
%%namespace(name='repo_utils', file='/repo/_utils.haml')
%%namespace(name='user_utils', file='/user/_utils.haml')
%%namespace(name='group_utils', file='_utils.haml')
%%namespace(name='utils', file='/_utils.haml')


@breadcrumb
    %li
        &= group.name




+group_utils.media(group, link=False, avatar_size=200)


%ul#group-tabs.nav.nav-tabs
    %li.active %a(href='#repos', dataToggle='tab')
        +utils.icon('book')
        Repositories
    %li %a(href='#members', dataToggle='tab')
        +utils.icon('user')
        Members
    
    - if auth.can('repo.create', group):
        %li.pull-right %a(href='#admin', dataToggle='tab')
            +utils.icon('cog')
            Admin

.tab-content

    #repos.tab-pane.active
        - for repo in group.readable_repos:
            = repo_utils.media(repo)
        - if not group.readable_repos:
            .alert.alert-warning No repositories.

    #members.tab-pane

        - if group.memberships:
            - for membership in group.memberships:
                +user_utils.media(membership.user)

        - else:
            %em No members.

    #admin.tab-pane

        - if auth.can('repo.create', group): .panel.panel-success
            .panel-heading Create a New Repository
            .panel-body
                blah blah blah
                %a.pull-right.btn.btn-success.disabled(href='#') Create Repo

        - if auth.can('group.delete', group): .panel.panel-danger
            .panel-heading Delete Group
            .panel-body
                This is really really scary.
                %a.pull-right.btn.btn-danger.disabled(href='#') Delete Group
