-!
    import datetime


%ol.breadcrumb %li %small

    All rights to site content reserved by original committers, unless noted otherwise.

    %br


    Spoon
    -
        links = '''
            http://libgit2.github.com
            http://flask.pocoo.org
            http://sqlalchemy.org
            http://makotemplates.org
            http://getbootstrap.com
            http://git-scm.com
            http://python.org
        '''.strip().split()
        words = 'is built on the shoulders of others,'.split()
    
    - for url, word in zip(links, words):
        %a(href=url) &= word

    and <a href="https://github.com/mikeboers/Spoon">available on GitHub</a>.

