<%page args="form" />
<%!
    import os
%><%
    nonce = os.urandom(4).encode('hex')
    form_id = 'form-%s' % nonce
%>\
<ol id="${form_id}" class="form-fields">
  % for field in form:

    % if field.type in ('HiddenField', 'CSRFTokenField'):
      ${field()}
      <% continue %>
    % endif

    <li class="state-${"error" if field.errors else "ok"} field-${field.name}">

      % if field.type == 'BooleanField':
        ${field()}
      % endif
        
      ${field.label(class_='type-' + field.type)}
        
      % if field.flags.optional:
        <span class="optional">(optional)</span>
      % elif field.flags.required:
        <span class="required">(required)</span>
      % endif
        
      % if field.errors:
        <ol class="errors">
          ${'\n'.join('<li>[ %s ]</li>' % error for error in field.errors)}
        </ol>
      % endif
        
      % if field.type == 'FormField':
        <div class="field type-FormField form-type-${field.form_class.__name__}">
          ${field.render()}
        </div>
      
      % elif field.type == 'FieldList':
        <%include file="_wtform.html" args="form=field" />
      
      % elif field.type == 'DateTimeField':
        <div class="field type-${field.type}">
          ${field(type='datetime')}
          ## <span class="add-on"><i class="icon-th"></i></span>
        </div>
        <script>jQuery(function($) {
          if ($.autodate)
            $(${json('#%s #%s' % (form_id, field.name))}).autodate({type:${field.type[:-5].lower()|json}});
        })</script>

      % elif field.type != 'BooleanField':
        <div class="field type-${field.type}">
          ${field()}
        </div>
      
      % endif
      
      % if field.type == 'MarkdownField':
        <script>jQuery(function($) {
          if ($.markdownEditor)
            $(${json('#%s #%s' % (form_id, field.name))}).markdownEditor();
        })</script>
      
      %endif
      
    </li>
  % endfor
</ol>
