!!! 5
%head

    %link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    %link(rel="stylesheet", href=static('/css/screen.css'))
    %link(rel="icon", href="/favicon.ico")
    
    %title Git Base

%body .container
    
    = next.body()


