-!
    from flask.ext.login import current_user
!!! 5
%head

    %link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    %link(rel="stylesheet", href=static('/css/screen.css'))
    %link(rel="icon", href="/favicon.ico")
    
    %title Git Base

%body

    #root.container
        
        %ol.breadcrumb

            - if current_user.is_authenticated():
                %.pull-right
                    Logged in as
                    %a(href=url_for('user', user=current_user)) &= current_user.name
                    .
                    %a(href=url_for('logout')) Logout.
            - else:
                %.pull-right %a.btn.btn-primary.btn-xs(href=url_for('login')) Login

            %li
                %a(href='/') %img(src="/img/git-logo.png")
            = next.breadcrumb()


        - for class_, message in get_flashed_messages(with_categories=True):
            - class_ = 'info' if class_ == 'message' else class_
            %.alert(class_='alert-' + class_) &= message

        = next.body()

        #root-footer

    #footer.container
        %%include(file='_footer.haml')


-# Just a stub.
@breadcrumb

