%%inherit(file="/_main.haml")
%%namespace(name='tree_utils', file='tree.haml')
%%namespace(name='blob_utils', file='blob.haml')
%%namespace(name='repo_utils', file='repo.haml')
%%namespace(name='utils', file='_utils.haml')
-!
    import datetime
    import itertools
    import pygit2 as git
    from gitbase.utils import debug

    commit_time = lambda c: datetime.datetime.fromtimestamp(c.commit_time)



+repo_utils.render_card(repo, link=False, avatar_size=128)



@breadcrumb
    %li
        %a(href=url_for('group', group=repo.group))
            &= repo.group.name
    %li
        &= repo.name
    %li
        commits


%ul.nav.nav-tabs

    %li %a(href=url_for('repo', repo=repo))
        +utils.icon('signal')
        Overview

    %li.active %a(href='#')
        +utils.icon('list')
        Commits
    
    %li %a(href=url_for('tree', repo=repo, ref='HEAD', path=None))
        +utils.icon('folder-open')
        Files




- if head:



    - if prev_commit:
        %a.btn.btn-default(href=url_for('commits', repo=repo) + '?after=' + prev_commit.hex)
            +utils.icon('arrow-left')
            Newer Commits

    %ol#commit-list.list-unstyled - for commit in commits:
        %li
            %small.pull-right &= commit_time(commit)
            %a(href=url_for('commit', repo=repo, commit=commit.hex[:8]))
                %code= commit.hex[:8]
                - for ref in hex_to_refs.get(commit.oid, ()):
                    %span.label.label-primary &= ref.split('/', 1)[-1]
                &= commit.message.strip().splitlines()[0]


    - if next_commit:
        %a.btn.btn-default(href=url_for('commits', repo=repo) + '?after=' + next_commit.hex)
            Older Commits
            +utils.icon('arrow-right')
    - else:
        .alert.alert-warning There are no more commits.



- else:

    .alert.alert-warning There are no commits.