%%inherit(file="/_main.haml")/

%ol.breadcrumb
    %li
        %a(href='/') %img(src="/img/git-logo.png")
    %li
        &= group.name
    %li
        repositories

- for repo in group.repos:
    .media
        %a.pull-left(href='#')
            %img.thumbnail.media-object(src='//robohash.org/%s--%s.png' % (group.name, repo.name), width=48, height=48)
        .media-body
            %h4.media-heading %a(href=url_for('repo', repo=repo))
                &= repo.name
            %p&= 'No description.'
