%%inherit(file='/_main.haml')
%%namespace(name='repo_utils', file='repo.haml')
%%namespace(name='user_utils', file='user.haml')
%%namespace(name='utils', file='_utils.haml')


@breadcrumb
    %li
        &= group.name


@render_card(group, link=True, avatar_size=64)

    .media

        - url = url_for('group', group=group)
        
        %a.pull-left(href=url)
            %img.thumbnail.media-object(src=resized_img_src('/img/git-logo-pale.png', width=avatar_size, height=avatar_size), width=avatar_size, height=avatar_size)

        .media-body
            %h4.media-heading
                
                @title
                    - if not group.is_public:
                        %span.glyphicon.glyphicon-lock
                    - elif group.is_a_home:
                        %span.glyphicon.glyphicon-home
                    - else:
                        %span.glyphicon.glyphicon-globe
                    = group.name

                - if link: %a(href=url) = title()
                - else: = title()
            %p
                - if group.description: &= group.description
                - else: %em No description.
            -# %small
                %span.glyphicon.glyphicon-book
                ${len(group.readable_repos)} ${'repository' if len(group.readable_repos) == 1 else 'repositories'}
            - if not group.is_a_home:
                %small
                    %span.glyphicon.glyphicon-user
                    ${len(group.memberships)} member${'s' if len(group.memberships) != 1 else ''}
                -# if not group.is_public:
                    %p %small %span.label.label-warning PRIVATE

            = caller.body()


+render_card(group, link=False, avatar_size=200)


%ul#group-tabs.nav.nav-tabs
    %li.active %a(href='#repos', dataToggle='tab')
        +utils.icon('book')
        Repositories
    - if not group.is_a_home:
        %li %a(href='#members', dataToggle='tab')
            +utils.icon('user')
            Members

.tab-content

    #repos.tab-pane.active
        - for repo in group.readable_repos:
            = repo_utils.render_card(repo)
        - if not group.readable_repos:
            .alert.alert-warning No repositories.


    - if not group.is_a_home: #members.tab-pane

        - if group.memberships:
            - for membership in group.memberships:
                +user_utils.render_card(membership.user)

        - else:
            %em No members.

