%%inherit(file="/_main.haml")/

@breadcrumb
    %li
        &= group.name
    %li
        repositories


%h2 Repositories

- for repo in group.repos:
    .media
        %a.pull-left(href='#')
            - size = 64
            %img.thumbnail.media-object(src=resized_img_src('/img/git-logo-pale.png', width=size, height=size), width=size, height=size)

        .media-body
            %h4.media-heading %a(href=url_for('repo', repo=repo))
                &= repo.name
            %p&= 'No description.'
            %p %small Last updated ${fuzzy_time(repo.git.head.get_object().commit_time)}.


%h2 Members

- if group.members:
    %ol - for user in group.members:
        %li &= user.login
- else:
    %em No members.
