%%inherit(file="/_main.haml")/

@breadcrumb
    %li
        groups

- for group in groups:
    .media

        - url = url_for('group', group=group)
        
        %a.pull-left(href=url)
            - size = 64
            %img.thumbnail.media-object(src=resized_img_src('/img/git-logo-pale.png', width=size, height=size), width=size, height=size)

        .media-body
            %h4.media-heading %a(href=url)
                &= group.name
            %p&= 'No description.'
            %p.small ${len(group.repos)} ${'repository' if len(group.repos) == 1 else 'repositories'}.
