%%inherit(file="/_main.haml")/

%ol.breadcrumb
    %li
        %a(href='/') %img(src="/img/git-logo.png")
    %li
        groups

- for group in groups:
    .media
        %a.pull-left(href='#')
            %img.thumbnail.media-object(src='//robohash.org/%s.png' % group.name, width=48, height=48)
        .media-body
            %h4.media-heading %a(href=url_for('group', group=group))
                &= group.name
            %p&= 'No description.'
            %p.small ${len(group.repos)} ${'repository' if len(group.repos) == 1 else 'repositories'}.
