%%inherit(file="/_main.haml")
%%namespace(name='account_utils', file='/account/_utils.haml')
%%namespace(name='repo_utils', file='/repo/_utils.haml')


- for group in groups:
    +account_utils.media(group, avatar_size=96)
        %h4 ${len(group.readable_repos)} ${'Repositories' if len(group.readable_repos) != 1 else 'Repository'}${':' if group.readable_repos else ''}
        %ul.list-unstyled - for repo in group.readable_repos:
            %li +repo_utils.title(repo)


- if not groups:
    .alert.alert-warning No repositories.
