%%inherit(file="/_main.haml")
%%namespace(name='group_utils', file='group.haml')

@breadcrumb
    %li
        groups

- for group in groups:
    = group_utils.render_card(group)
- if not groups:
    .alert.alert-warning No repositories.
