%head

    %link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    %link(rel="icon", href="/favicon.ico")
    
    %title Git Base

%body

    %h1 Git Base

    %ul - for group in groups: - for repo in group.repos:
        %li ${group.name}/${repo.name}
