%%inherit(file="/_main.haml")
%%namespace(name='account_utils', file='/account/_utils.haml')
%%namespace(name='repo_utils', file='/repo/_utils.haml')

- for i, account in enumerate(a for a in accounts if a.is_public or a.readable_repos):
    
    - if i: %hr

    +account_utils.media(account)

        - for repo in account.readable_repos:
            +repo_utils.media(repo)

