%%inherit(file="/_main.haml")
%%namespace(name='utils', file='_utils.haml')

@breadcrumb
    %li
        login

%form.form(method='POST', role='form')

    = utils.render_form(form)
    %button.btn.btn-primary(type='submit') Submit
