%%inherit(file="_main.haml")

@breadcrumb

    %li users
    %li &= user.name



@avatar(user, size=64)
    %img.img-thumbnail(src=resized_img_src('/img/git-logo-pale.png', width=size, height=size), width=size, height=size)


@render_card(user, avatar_size=64, link=True)

    .media

        %a.media-object.pull-left(href=url_for('user', user=user))
            +avatar(user, avatar_size)

        .media-body
            %h4.media-heading

                @title
                    &= user.name

                - if link:
                    %a(href=url_for('user', user=user)) +title
                - else:
                    +title



= render_card(user, avatar_size=128, link=False)
