%%inherit(file="/_main.haml")
%%namespace(name="tree_utils", file="./_utils.haml")
%%namespace(name="utils", file="/_utils.haml")
%%namespace(name="repo_utils", file="/repo/_utils.haml")
%%namespace(name="commit_utils", file="/commit/_utils.haml")
-!
    import mimetypes
    import os

    import pygments
-
    group = repo.account


@breadcrumb
    %li
        %a(href=url_for('group', group=repo.account)) &= repo.account.name
    %li
        %a(href=url_for('repo', repo=repo)) &= repo.name
    
    - chunks = path.strip('/').split('/')
    - for i, chunk in enumerate(chunks):
        %li
            - if i + 1 < len(chunks):
                %a(href=url_for('tree', repo=repo, path='/'.join(chunks[:i + 1]))) &= chunk
            - else:
                &= chunk


+repo_utils.media(repo, link=False)

+repo_utils.page_tabs(repo, ref=ref, active=False)
    %li.active %a(href='#')
        +utils.icon('file')
        &= os.path.basename(path)

+commit_utils.alert(commit)

+tree_utils.render_blob(repo, blob, path)
