%%inherit(file="/_main.haml")
%%namespace(name='blob_utils', file='/blob/_utils.haml')
%%namespace(name='repo_utils', file='/repo/_utils.haml')
%%namespace(name='commit_utils', file='/commit/_utils.haml')
%%namespace(name='tree_utils', file='./_utils.haml')
%%namespace(name='utils', file='/_utils.haml')
-
    group = repo.account

@breadcrumb

    %li
        %a(href=url_for('group', group=repo.account)) &= repo.account.name
    %li
        &= repo.name
    %li
        - if path:
            %a(href=url_for('tree', repo=repo, ref=ref)) files
        - else:
            files

    - chunks = filter(None, path.strip('/').split('/'))
    - for i, chunk in enumerate(chunks):
        %li
            - if i + 1 < len(chunks):
                %a(href=url_for('tree', repo=repo, path='/'.join(chunks[:i + 1]))) &= chunk
            - else:
                &= chunk

+repo_utils.media(repo, link=False, avatar_size=128)
+repo_utils.page_tabs(repo, ref=ref)
+commit_utils.alert(commit)
+tree_utils.render_tree(repo, ref, tree, path)
