
@avatar(user, size=64)
    %img.img-thumbnail(src=resized_img_src('/img/git-logo-pale.png', width=size, height=size), width=size, height=size)


@media(user, avatar_size=64, link=True)

    .media

        %a.media-object.pull-left(href=url_for('user', user=user))
            +avatar(user, avatar_size)

        .media-body
            %h4.media-heading

                @title
                    %span.glyphicon.glyphicon-user
                    &= user.display_name

                - if link:
                    %a(href=url_for('user', user=user)) +title
                - else:
                    +title

            - if caller: +caller.body
            
